html,body {
  height:100%;
}

body {
  margin-top:53px;
}


.userpic {
   width: 40px;
   height: 40px;
   border-radius: 20px;   
   margin:5px;
}

.placeholder {
  width: 40px;
  height: 40px;
  border:1px solid #ccc;
}